.bg_img {
  background-image: url(../../../assets/images/banner-bg.webp);
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 772px;
  display: flex;
  align-items: end;
}



.bullet-text {
  font-size: 18px;
  /* Adjust font size as needed */
  color: white;
  /* Text color */
  /* font-family:'Space Grotesk'; */
}

/* .channel-txt-input {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
} */

.channel-txt-input:focus,
.channel-txt-input:active {
  color: black !important;
  /* Ensures text color remains black */
  background-color: white !important;

  /* Optional: change if you want a different background */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.bullet {
  color: blue;
  /* Bullet point color */
  margin-right: 8px;
  /* Adjust spacing between bullet point and text */
}

.getstartedbtn {
  background-color: #139dff;
  width: 80%;
  height: 3rem;
  position: relative;
  text-align: left;
}

.signinbtn-banner {
  color: white;
  border-color: white;
  width: 95%;
  height: 3rem;
  position: relative;
  text-align: left;
  background-color: "transparent";
}

.txt-color {
  color: white;
}

.mobile-container {
  height: 70vh;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .mobile-container {
    display: none;
  }

  .mobileresp {
    padding-top: 20%;
  }
}


.red {
  border: 2px solid red;
}

.home-mobile-images {
  width: 60%;
  height: 60vh;
}

.blue {
  border: 1px solid blue;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .home-mobile-images {
    width: 75%;
  }
}
@media only screen and (min-width: 792px) and (max-width: 992px) {
  .home-mobile-images {
    width: 100%;
  }
}
@media only screen and (max-width: 793px) {
  .home-mobile-contianer {
    display: none !important;
  }
  .bg_img{
    align-items: center;
  }
  .home-text-section{
   width: 100%;  
  }
}