.pormote-channel-bg {
  background-image: url(../../../assets/images/promote-channel-bg.jpg);
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.prmote-btn{
    width: 30%;
}
.promote-heading-align{
text-align: center;
}
.promote-p-align{
text-align: center;
width: 50%;
padding-bottom: 2%;
}
.promote-a-align{
padding-top: 5%;
}
.promote-arrow-align{
color: white;
margin-left: 8px;
margin-top: 2px;
}

@media screen and (max-width: 1200px) {
    .prmote-btn{
        width: 40%;
    }
}  