@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.User-Dasboard-Menu {
    background: #FFFFFF;
    width: 305px;
    /* height: 292px;    */
    padding: 24px;
    border-radius: 10px;
}

.User-Dashoard-page {
    padding-bottom: 30px;
    background: #F0F3FA;
}

.User-Sidebar {
    padding: 24px;

}

.UserIcon {
    width: 41px;
}

.User-Email {
    margin-bottom: 0px !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
}

.User-Verfication-Text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #00000099;
    font-weight: 400;
}

.divide-Menu-Section {
    border: 1px solid #D9D9D9
}

ul {
    list-style-type: none;
    padding-left: 10px !important;
}

.SideMenuText {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000B2;
    font-weight: 500;
    text-decoration: none !important;

}

.Single-Menu-Line {
    padding: 13px 10px;
    border-radius: 15px;
    text-decoration: none !important;
}

.Single-Menu-Line:hover {
    background: #F0F3F9;
}

.red {
    border: 1px solid red;
}

.Single-Menu-Line:hover svg path {
    stroke: #139DFF;
}

.Single-Menu-Line svg path {
    stroke: #000000B2;
}

.Single-Menu-Line:hover .SideMenuText {
    color: #139DFF
}

/* Add this CSS rule to apply the red color */
.active .SideMenuText {
    color: #139DFF
}

.Single-Menu-Line.active {
    background: #F0F3F9;
}

.Single-Menu-Line.active svg path {
    stroke: #139DFF;
}

@media only screen and (max-width: 1200px) {
    .Main-UserDashborad-Menu {
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .MobileMenuBar {
        display: none;
    }
}

/* ****************************************************************** */

.User-Dasboard-Menu-For-mobile {
    background: #FFFFFF;
    width: 100%;
    padding: 24px;
    border-radius: 10px;
}
/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }