.authBg {
  background: #ffff;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.authBg.mentor-mentee {
  min-height: calc(100vh - 114px);
  padding: 50px 0;
}
.authBox {
  background-color: #fff;
  border-radius: 0.5rem;
}

.authImage {
  background: url("../../../assets/images/AuthImg.webp");
  /* max-width: 100%; */
  border-radius: 8px 0px 0px 8px;
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.authcont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}
.phiconcont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logoiconcont {
  display: none;
}
/* .ment-mentee-img.authImage img {
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
.authFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.authForm {
  border-radius: 0px;
  width: 100%;
  max-width: 480px;
  padding: 40px 20px;
}

.authLogo {
  margin-bottom: 1rem;
  text-align: center;
}

.authLogo img {
  width: 190px;
  max-width: 100%;
}

.authFormHeader {
  text-align: flex-start;
  /* margin: 2rem 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authTitle {
  font-size: 28px;
  font-weight: 700;
  color: var(--blackColor);
}
.authPara {
  font-size: 14px;
  font-weight: 500;
  color: #2f9edc;
}
.authtitle {
  color: black;
  font-size: 30px;
}

/* Define the state of the entering and exiting transitions */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
  /* height: 100%; */
  /* width: 100%; */
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

@media only screen and (max-width: 575px) {
  .authForm {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .authForm {
    padding: 2rem 1rem;
  }
  .authImage {
    display: none;
  }
  .authBg {
    background: url("../../../assets/images/AuthImg.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoiconcont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .phiconcont {
    display: none;
  }
  .authFormHeader {
    color: #fff;
    font-size: 18px;
  }
  .authtitle {
    color: white;
  }
}
