.next-btn {
  width: 350px;
}
@media screen and (max-width: 992px) {
  .next-btn-container {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .next-btn {
    width: inherit;
  }
}
