.view-bg_img {
  background: linear-gradient(90deg, #000530 0%, #1E0041 100%);
    min-height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .plusIcon{
    color: #0072cf;
  }